##
# Misc
##
.DS_Store
*.log

##
# Zend Studio
##
.settings
.buildpath
.project
.externalToolBuilders

##
# Magento
##
/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
.idea
/.gitattributes
src/store/app/config_sandbox
#src/store/app/etc/config.php
#src/store/app/etc/env.php
src/store/app/code/Magento/TestModule*
src/store/lib/internal/flex/uploader/.actionScriptProperties
src/store/lib/internal/flex/uploader/.flexProperties
src/store/lib/internal/flex/uploader/.project
src/store/lib/internal/flex/uploader/.settings
src/store/lib/internal/flex/varien/.actionScriptProperties
src/store/lib/internal/flex/varien/.flexLibProperties
src/store/lib/internal/flex/varien/.project
src/store/lib/internal/flex/varien/.settings
/node_modules
/.grunt

src/store/pub/media/*.*
!src/store/pub/media/.htaccess
src/store/pub/media/catalog/*
!src/store/pub/media/catalog/.htaccess
src/store/pub/media/customer/*
!src/store/pub/media/customer/.htaccess
src/store/pub/media/downloadable/*
!src/store/pub/media/downloadable/.htaccess
src/store/pub/media/import/*
!src/store/pub/media/import/.htaccess
src/store/pub/media/theme/*
src/store/pub/media/theme_customization/*
!src/store/pub/media/theme_customization/.htaccess
src/store/pub/media/wysiwyg/*
!src/store/pub/media/wysiwyg/.htaccess
src/store/pub/media/tmp/*
!src/store/pub/media/tmp/.htaccess
src/store/pub/media/captcha/*
src/store/pub/static/*
!src/store/pub/static/.htaccess

src/store/var/*
!src/store/var/.htaccess
!src/store/vendor/.htaccess

src/store/composer.phar
src/store/var/log/
var/generation/
var/*
pub/static/*
var/*